table.btn--white table td {
  color: black;
  background-color: white;
  border: 2px solid black;
}

table.btn--white table td a {
  color: black;
}


.btn.white {
  color: black !important; 
  background-color: white !important;
  border: 2px solid black !important;
}
