// Icons

.global.body {
  background-color: $tbg-global-background-color;
}

.icon {
  display: inline-block;
  margin-right: .5em;
}

// Links

.neutral {
  font-weight: bold;
}

$meta-color: #b2b2af;

.meta {
  p,
  .neutral {
    font-size: 11px;
    color: $meta-color;
  }
}
