.global.body {
  background-color: $tbg-global-background-color;
}

// Collapses bottom padding on columns similar to Foundation's collapse
.collapse-bottom {
  .body & .columns,
  .body & .column {
    padding-bottom: 0;
  }
}

// Required to force top alignment to table cells in Outlook 07, 10, 13
.columns {
  vertical-align: top;
}
