$deal-card-button-prefix: 'deal-card-button';
$deal-card-button-color: #fff;
$deal-card-button-background-color: #34adb2;
$deal-card-button-border-color: #34adb2;
$deal-card-button-hover-color: #fff;
$deal-card-button-hover-background-color: #34adb2;
$deal-card-button-hover-border-color: #34adb2;

@include tbg-button(
  $deal-card-button-prefix,
  $deal-card-button-color,
  $deal-card-button-background-color,
  $deal-card-button-border-color,
  $deal-card-button-hover-color,
  $deal-card-button-hover-background-color,
  $deal-card-button-hover-border-color
);
