$deals-hero-background-color: #ccc;

.deals-hero {
  background-color: $deals-hero-background-color;
}

.deals-hero__text-container {
  padding: 1em 2em;
}

.deals-hero__title {
  padding-bottom: 0.5em;
  font-weight: bold;
  color: $tbg-secondary-text-color;
}

.deals-hero__text {
  font-size: 14px;
  color: $tbg-secondary-text-color;
}
