$offer-button-prefix: 'offer-button';
$offer-button-primary-color: #fff;
$offer-button-secondary-color: #000;
$offer-button-hover-color: #90d231;
$offer-button-hover-background-color: $offer-button-primary-color;

@include tbg-button(
  $offer-button-prefix,
  $offer-button-primary-color,
  $offer-button-secondary-color,
  $offer-button-hover-color,
  $offer-button-hover-background-color
);
