$discount-info-keyword-colour: #f33;

.discount-info__title {
  @include tbg-title;
}

.discount-info__keyword {
  @include tbg-title;
  padding-top: 1em;
  color: $discount-info-keyword-colour;
}

.discount-info__text {
  @include tbg-text;
}

.discount-info__text-container {
  border-right: 10px solid $tbg-secondary-text-color;
  border-left: 10px solid $tbg-secondary-text-color;
}

.discount-info__button-container {
  padding: 0em 2em;
}
