$discount-banner-container-color: #90d231;

.discount-banner__container {
  background: $discount-banner-container-color;
}

.discount-banner__text-container {
  padding: 2em 1em 0;
}

.discount-banner__title {
  @include tbg-title;
  padding-bottom: 1em;
  color: $tbg-secondary-text-color;
}

.discount-banner__text {
  @include tbg-text;
  color: $tbg-secondary-text-color;
}
