<container>
  <row class="meta">
    
    
    <columns small="2" large="2">
    </columns>
    
    <columns small="9" large="9">
      <center>
        <spacer size="50"></spacer>
        <img src="../assets/img/footer__sb-logo.jpg">
        <spacer size="50"></spacer>
        <p class="text-center">
          This message was sent by Student Beans. You are receiving this email because you have an existing relationship with Student Beans. Don't like great student freebies and competitions?
        </p>
        <spacer size="20"></spacer>
        <p class="text-center">
          <a href="#unsubscribe">Unsubscribe from this weekly newsletter</a> or <a href="#unsubscribe">manage your preferences</a>.
        </p>
        <spacer size="20"></spacer>
        <p class="text-center">
          Privacy is important to us. <a href="#policy">View our privacy policy</a>.
        </p>
        <spacer size="20"></spacer>
        <a href=""><img src="../assets/img/footer__facebook.jpg"></a>
        <a href=""><img src="../assets/img/footer__twitter.jpg"></a>

      </center>
    </columns>
    
    <columns small="2" large="2">
    </columns>
    
    
  </row>
  
  <row>
    <columns>
      <spacer size="80"></spacer>
      <p class="text-center">
        Registered Office:1 Vincent Square, London, SW1 2PN | Registered as a company in England and Wales, number: 5486885 | VAT Registration Number: 873 0262 33. Copyright 2014 Student Beans all rights reserved.
      </p>
    </columns>
  </row>
  
</container>
