.alert-info__title {
  @include tbg-title;
}

.alert-info__text {
  @include tbg-text;
  padding: 0 1em;
}

.alert-info__button-container {
  padding: 0em 3em;
}

// Required to give at least SOME 'padding' so elements aren't touching the edge
// Since padding doesn't work in Outlook 07, 10, 13
.alert-info__text-container {
  border-right: 10px solid $tbg-secondary-text-color;
  border-left: 10px solid $tbg-secondary-text-color;
}
