.footer.footer__container {
  background-color: $tbg-global-background-color;
}

.footer.footer__link {
  font-weight: bold;
  color: $tbg-meta-text-color;
}

.footer__text-block {
  font-size: $tbg-meta-font-size;
  color: $tbg-meta-text-color;
  text-align: center;
}
