<table class="row">
  <tr>

    <!--[if !mso]><!-- -->
    <td class="wrapper header alert last show-for-small">
        <table class="six columns">
          <tr>
            <td class="header__collapse">
              <a href="#link"><img width="270" height="270" src="<%= image_url('2015-02-25_alert_mobile-image.png?v=000001') %>"></a>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
    </td>
    <!--<![endif]-->


      <td class="wrapper collapse-top">
        <table class="six columns">
          <tr>
            <td class="left-text-pad">
              <br>
              <br>
              <h3 class="txt-center title-margin">20% OFF ALL LISTED ITEMS</h3>
              <p class="txt-center">Use our Topshop student discount code at the checkout to enjoy 10% off tops, dresses & accessories</p>

              <br>
              <div class="text-pad">
                <table class="tiny-button">
                  <tr>
                    <td>
                      <a href="#link"><img src="<%= image_url('global/deals__padlock.jpg') %>" class="icon" > Button Label</a>
                    </td>
                  </tr>
                </table>
              </div>
              <br>
              <br>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>

      <td class="wrapper header alert collapse-top last hide-for-small">
        <table class="six columns">
          <tr>
            <td class="collapse-bottom">
              <a href="#link"><img width="300" height="300" src="<%= image_url('2015-02-25_alert_side-image.png?v=000001') %>" class="center"></a>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>


  </tr>
</table>
