<table class="row">
  <tr>
  
    <td class="wrapper header alert  last">
        <table class="twelve columns">
          <tr>
            <td class="header__collapse">

              <img width="640" height="320" src="http://placehold.it/640x320" class="center hide-for-small">
              <img width="640" height="640" src="http://placehold.it/640x640" class="center show-for-small">
              <br/>
              <div class="text-pad">
                <h3 class="txt-center title-margin">20% OFF ALL LISTED ITEMS</h3>
                <p class="txt-center">Use our Topshop student discount code at the checkout to enjoy 10% off tops, dresses & accessories</p>

                <br/>
                <table class="tiny-button">
                  <tr>
                    <td>
                      <a href="#"><img src="<%= image_path('deals__padlock.jpg') %>" class="icon" /> Button Label</a>
                    </td>
                  </tr>
                </table>
              </div>
              <br/>
              <br/>


            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>

      
  </tr>
</table>
