<table class="row group">
  <tr>
      <td class="wrapper last">
        <table class="twelve columns">
          <tr>
            <td class="text-pad">

            <!-- Deal block  -->

            <table class="row">
              <tr>
                <td><a href="#link"><img width="520" height="260" src="http://placehold.it/640x320"></a></td>
              </tr>
            </table>
            
            <table class="row">
              <tr>
                <td class="seven sub-columns">
                  <h3>Up to 70% off outlet items</h3>
                  <p>at Amazon</p>
                </td>

                <td class="five sub-columns last">

                  <table class="tiny-button success">
                    <tr>
                      <td>
                        <a href="#">Button Label</a>
                      </td>
                    </tr>
                  </table>

                </td>
                <td class="expander"></td>

              </tr>
            </table>

            <!-- / Deal block  -->


            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>
  </tr>
</table>
