<table class="row">
<tr>
  <td class="wrapper last collapse-top">
    <table class="twelve columns   header deals">
      <tr>
        <td >
          <br>
          <br>
          <center><img src="<%= image_path('http://placehold.it/170x35') %>" class="center header__logo" ></center>
          <br>
          <br>
          <div class="header__standfirst text-pad">
            <h3 class="txt-center title-margin">Chris, is it snowing yet?</h3>
            <p class="txt-center">The temperature inside this apple pie is over one thousand degrees. If I squeeze it, a jet of molten bramley apple will squirt out. Could go your way; could go mine. Either way, one of us is going down.</p>
          </div>

        </td>
      </tr>
    </table>
  </td>
  <td class="expander"></td>

</tr>
<tr>
  <td>
    <center><img src="<%= image_path('http://placehold.it/50x15') %>" class="center" ></center>
  </td>
</tr>
</table>
