<table class="row">
<tr>
  <td class="wrapper last header campaign">
    <a href="">
      <img src="http://www.fillmurray.com/580/400" class="center" />
    </a>
  </td>
  <td class="expander"></td>
</tr>
</table>
