<table class="row group">
<tr>
  <td class="wrapper last">
    <table class="twelve columns">
      <tr>
        <td class="text-pad">

          <!-- Deal block  -->


          <table class="row">
            <% 2.times do |n| %>
              <tr class="listing">
                <td class="three sub-columns">
                  <img width="70" height="70" src="http://placehold.it/200x200">
                </td>

                <td class="six sub-columns listing__text">
                  <h3>Up to 70% off outlet items</h3>
                  <p>at Amazon</p>
                </td>

                <td class="three sub-columns last hide-for-small">

                  <table class="tiny-button">
                    <tr>
                      <td>
                        <a href="#">Button Label</a>
                      </td>
                    </tr>
                  </table>

                </td>
                <td class="expander"></td>

              </tr>
            <% end %>
          </table>

          <!-- / Deal block  -->


        </td>
        <td class="expander"></td>
      </tr>
    </table>
  </td>
</tr>
</table>
