<table class="row">
  <tr>
    <% 2.times do |n| %>
      <td class="wrapper <%= n == 1 ? "last" : "" %>">
        <table class="six columns">
          <tr>
            <td class="<%= n == 0 ? "left" : "right" %>-text-pad">

            <!-- Deal block  -->

            <table class="row">
              <tr>
                <td><img width="270" height="135" src="http://placehold.it/640x320"></td>
              </tr>
            </table>
            
            <table class="row">
              <tr>
                <td class="six sub-columns">
                  <h3>Up to 70% off outlet items</h3>
                  <p>at Amazon</p>
                </td>

                <td class="six sub-columns last">

                  <table class="button">
                    <tr>
                      <td>
                        <a href="#">Button Label</a>
                      </td>
                    </tr>
                  </table>

                </td>
                <td class="expander"></td>

              </tr>
            </table>

            <!-- / Deal block  -->


            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>
    <% end %>
  </tr>
</table>
