<table class="row">
<tr>
  <td class="wrapper last collapse-top">
    <table class="twelve columns header">
      <tr>
        <td>
          <br/>
          <br/>
          <center><img src="<%= image_url('global/mag__hero__logo.jpg') %>" class="center header__logo" /></center>
          <br/>
          <br/>
          <div class="text-pad">
            <div class="header__standfirst">
              <h3 class="txt-center lead">Chris, is it snowing yet?</h3>
              <p class="txt-center lead">The temperature inside this apple pie is over one thousand degrees. If I squeeze it, a jet of molten bramley apple will squirt out. Could go your way; could go mine. Either way, one of us is going down.</p>
            </div>

            <%= partial "partials/blocks/mag__hero__article" %> 
            <b class="article__stack one"></b>
            <b class="article__stack two"></b>
            <br/>
          <div>
        </td>
      </tr>
    </table>
  </td>
  <td class="expander"></td>

</tr>
<tr>
  <td>
    <center><img src="<%= image_url('global/hero-pointer.jpg') %>" class="center" /></center>
  </td>
</tr>
</table>
