<!-- Deal block  -->
<div class="article">
  <img width="580" height="305" src="http://placehold.it/640x320" class="center">
  <div class="article__content">
    <h3>10 microwave recipes for when hot food needs to happen right now</h3>
    <p>I was sick in your handbag but shh don't tell anyone.</p>
    <table class="row">
      <tr>
        <td class="six sub-columns">
          <small>IN <a href="#">CATEGORY NAME</a></small>
        </td>

        <td class="six sub-columns last txt-right">

          <table class="button">
            <tr>
              <td>
                <a href="#">Button Label</a>
              </td>
            </tr>
          </table>

        </td>
        <td class="expander"></td>
      </tr>
    </table>
  </div>
</div>
<!-- / Deal block  -->
