<table class="row">
<tr>
  <td class="wrapper last collapse-top">
    <table class="twelve columns header">
      <tr>
        <td class="text-pad">
          <br/>
          <br/>
          <img src="<%= image_path('mag__hero__logo.jpg') %>" class="center header__logo" />
          <div class="header__standfirst">
            <h3 class="txt-center">Chris, is it snowing yet?</h3>
            <p class="txt-center">The temperature inside this apple pie is over one thousand degrees. If I squeeze it, a jet of molten bramley apple will squirt out. Could go your way; could go mine. Either way, one of us is going down.</p>
          </div>

          <%= partial "partials/blocks/mag__hero__article" %> 
          <b class="article__stack one"></b>
          <b class="article__stack two"></b>
          <br/>
        </td>
      </tr>
    </table>
  </td>
  <td class="expander"></td>

</tr>
<tr>
  <td>
    <img src="<%= image_path('hero-pointer.jpg') %>" class="center" />
  </td>
</tr>
</table>
