<table class="row group">
<tr>
  <td class="wrapper last">
    <table class="twelve columns">
      <tr>
        <td class="text-pad">
          <p class="txt-center lead">On making a documentary for canal boats: ‘This chemical toilet is a Saniflow 33, now this little babe can cope with anything, and I mean anything. Earlier on I put in a pound of mashed up Dundee cake, let's take a look...not a trace! Peace of mind I'm sure, especially if you have elderly relatives on board.’</p>
        </td>
      </tr>
    </table>
  </td>
  <td class="expander"></td>

</tr>
</table>
