<table class="row">
<tr>
  <td class="wrapper last">
    <table class="twelve columns">
      <tr>
        <td class="text-pad">
          <img src="<%= image_path('mag__hero__logo.jpg') %>" class="center" />
          <h3 class="txt-center">Chris, is it snowing yet?</h3>
          <p class="txt-center">The temperature inside this apple pie is over one thousand degrees. If I squeeze it, a jet of molten bramley apple will squirt out. Could go your way; could go mine. Either way, one of us is going down.</p>

          <%= partial "partials/blocks/mag__hero__article" %>  

        </td>
      </tr>
    </table>
  </td>
  <td class="expander"></td>

</tr>
</table>
